input{
    padding: 5px;
}

form div{
    margin: 10px;
}

button{
    padding: 10px 20px;
    background-color: blueviolet;
    color: aqua;
    outline: none;
    border: none;
}

#error{
    color: red;
    font-size: 15px;
}