* {
    box-sizing: border-box;
}

.main-body {
    border: 1px solid #629614;
    padding: 20px;
    background: gray;
    border-radius: 10px;
    text-align: center;
    box-shadow: 10px 10px 10px #62961485;
    width: 30%;
    margin-left: 35%;
}

h3 {
    color: rgb(70, 97, 7);
    text-align: center;
    margin: 15px 30px;
}

button {
    color: white;
    background: black;
    border: 1px solid;
    border-radius: 10px;
    padding: 10px 15px;
}

input {
    outline: none;
    padding: 10px;
    border: 1px dashed black;
    background: blue;
    border-radius: 15px;
    color: aliceblue;
}

label {
    font-weight: 700;
    color: rgb(56, 30, 5);
}

#error {
    color: red;
    text-align: center;
    font-weight: 600;
}

form div {
    margin-bottom: 10px;
}

.Ftable,th,td {
    border: 1px solid black;
    text-align: center;

}

.Ftable th span {
    color: #ff0000;
    font-size: 20px;
    font-weight: 500;
}

.Ftable th {
    color: #0026ff;
    font-size: 20px;
    font-weight: 500;
}

.Ftable{
    margin-left: 20%;
    width: 50%;
}